@model Pierre.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Origin)
  @Html.TextBoxFor(model => model.Origin)


  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price)

  @Html.LabelFor(model => model.AllergyInfo)
  @Html.TextBoxFor(model => model.AllergyInfo)


  @Html.Label("Select A Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new Treat" />
}
<p>@Html.ActionLink("Treats", "Index")</p>